.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.controllers {
    display: flex;
    justify-content: space-evenly;
}

.item {
    width: 23%;
}

.item img {
    width: 100%;
}

.page-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.input, .subcategory-filter, .selector-container {
    padding: 10px;
}

.selector-container {
    width: 10%;
}

.subcategory-filter {
    width: 25%;
}

.price-filter {
    width: 10%;
}

.name-filter {
    width: 15%;
}
